body {
  background-color: black;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.top-header {
  font-weight: normal;
  font-size: 50px;
  color: white;
}
.b-header {
  font-weight: 300;
  font-size: 42px;
  color: white;
}
.c-header {
  font-size: 21px;
  color: gray;
}

.copyright {
  font-size: 21px;
  color: grey;
  text-align: right;
}

.link-a {
  color: aquamarine;
  font-size: 16px;
}
